<div class="main-content">
    <div class="card">
        <div class="card-body">
            <div class="px-3">
                <mat-card-title>Search</mat-card-title>
                <br>
                <p align="right">
                    <button mat-stroked-button class="btn btn-raised btn-primary" (click)="Add()">
                        <mat-icon fontSet="material-icons-round"
                        style="font-size: medium; height: 18px; width: 18px;">
                        person_add_alt</mat-icon>
                        Add
                    </button>
                </p>
                <form [formGroup]="SearchForm" class="example-form">
                    <div class="example-header row">
                        <mat-form-field class="col-md-6">
                            <input matInput placeholder="Username" formControlName="Username">
                        </mat-form-field>
                        <mat-form-field class="col-md-6">
                            <input matInput placeholder="Email" formControlName="Email">
                        </mat-form-field>
                    </div>
                </form>
                <p align="right">
                    <button mat-flat-button color="warn" (click)="ResetFilters()">
                        <mat-icon fontSet="material-icons-round"
                        style="font-size: medium; height: 18px; width: 18px;">
                        cancel</mat-icon>
                        Reset
                    </button>
                    &nbsp;
                    <button mat-stroked-button class="btn btn-raised btn-primary" (click)="Search()">
                        <mat-icon fontSet="material-icons-round"
                        style="font-size: medium; height: 18px; width: 18px;">
                        search</mat-icon>
                        Search
                    </button>
                </p>

                <div class="example-container mat-elevation-z8">

                    <mat-table [dataSource]="dataSource" matSort>

                        <!-- No. -->
                        <ng-container matColumnDef="No">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </mat-cell>
                        </ng-container>

                        <!-- Username -->
                        <ng-container matColumnDef="username">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
                        </ng-container>

                        <!-- Email -->
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                        </ng-container>

                        <!-- Birth Date -->
                        <ng-container matColumnDef="birthDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.birthDate | date:'dd-MMM-yyyy'}} </mat-cell>
                        </ng-container>

                        <!-- BasicSalary -->
                        <ng-container matColumnDef="basicSalary">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Basic Salary </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.basicSalary | number:"0.2"}} </mat-cell>
                        </ng-container>

                        <!-- Status -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
                        </ng-container>

                        <!-- Group -->
                        <ng-container matColumnDef="group">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Group </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.group}} </mat-cell>
                        </ng-container>

                        <!-- Action -->
                        <ng-container matColumnDef="Action">
                            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">
                                <span>
                                    <a class="success p-0" (click)="EditData(row)">
                                        <mat-icon fontSet="material-icons-round"
                                            style="font-size: medium; height: 10px; width: 12px; color: yellowgreen;">
                                            mode_edit</mat-icon>
                                    </a>
                                    &nbsp;
                                    <a class="danger p-0" (click)="DeleteData(row.id)">
                                        <mat-icon fontSet="material-icons-round"
                                            style="font-size: medium; height: 10px; width: 12px; color: red;">delete
                                        </mat-icon>
                                    </a>
                                </span>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>